In [1]:
#Scraping using Beautiful Soup
# Dependencies
from bs4 import BeautifulSoup
import requests
import pandas as pd
import time
from splinter import Browser

In [2]:
executable_path = {'executable_path': 'chromedriver.exe'}
browser = Browser('chrome', **executable_path, headless=False)

## NASA Mars News

In [3]:
# URL of page to be scraped
url = 'https://mars.nasa.gov/news/' 
browser.visit(url)

In [4]:
# Scrap the Mars Website
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [5]:
# Retrieve the parent divs for class 'list text'
results = soup.find_all('div', class_='list text')

In [6]:
# Initialize sets of titles and paragraphs
titles = []
paragraphs = []

# for loop to scrape to results
for result in results:
    # Scrape the news titles
    if result.a:
            title = result.a.text
            titles.append(title)
        
    # Scrape the news paragraphs
    paragraph = result.find('div', class_="article_teaser_body").text
    paragraphs.append(paragraph)
    
    # Print Mars News Data
    print("----------------")
    print(title)
    print(paragraph)

In [7]:
title = soup.find('div', class_='content_title')
text = soup.find('div', class_='rollover_description_inner')

newsTitle = title.text
newsText = text.text

print(newsTitle)
print(newsText)

Mars Now
A mission to investigate key questions about potential life on Mars.

## JPL Mars Space Images - Featured Image

In [8]:
url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
url_base = 'https://www.jpl.nasa.gov'

response = requests.get(url)
soup = BeautifulSoup(response.text, 'html.parser')

result = soup.find('article', class_='carousel_item').attrs

print(result)

{'alt': 'Earth Mars Comparison', 'class': ['carousel_item'], 'style': "background-image: url('/spaceimages/images/wallpaper/PIA02570-1920x1200.jpg');"}

In [9]:
style_prop = str(result['style'])
trim1 = style_prop.replace("background-image:", "")
trim2 = trim1.replace(" url('", "")
image = trim2.replace("');", "")
image_url = url_base + image
print(image_url)

https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA02570-1920x1200.jpg

In [10]:
featured_image_url = 'https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA22374_hires.jpg'
browser.visit(featured_image_url)

## Mars Facts

In [11]:
#Scraping the table and getting HTML string 
url = "https://space-facts.com/mars/"
table = pd.read_html(url)[0]
print(table)

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [12]:
type(table)

pandas.core.frame.DataFrame

In [15]:
df = table
df.columns = ["Parameters", "Values"]
df.head()

             Parameters                         Values
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)

In [16]:
html_table = df.to_html()
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Parameters</th>\n      <th>Values</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Surface Temperature:</td>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [17]:
html_table.replace('\n', '')

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>Parameters</th>      <th>Values</th>    </tr>  </thead>  <tbody>    <tr>      <th>0</th>      <td>Equatorial Diameter:</td>      <td>6,792 km</td>    </tr>    <tr>      <th>1</th>      <td>Polar Diameter:</td>      <td>6,752 km</td>    </tr>    <tr>      <th>2</th>      <td>Mass:</td>      <td>6.39 × 10^23 kg (0.11 Earths)</td>    </tr>    <tr>      <th>3</th>      <td>Moons:</td>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>4</th>      <td>Orbit Distance:</td>      <td>227,943,824 km (1.38 AU)</td>    </tr>    <tr>      <th>5</th>      <td>Orbit Period:</td>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>6</th>      <td>Surface Temperature:</td>      <td>-87 to -5 °C</td>    </tr>    <tr>      <th>7</th>      <td>First Record:</td>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>8</th>      <td>Recorded By:</td>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

## Mars Hemispheres

In [18]:
url = "https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"
url_base = "https://astrogeology.usgs.gov"

browser = Browser('chrome', headless=False)
browser.visit(url)

soup = BeautifulSoup(browser.html, 'html.parser')

result = soup.find_all('div', class_="item")

url_list = []

for y in result:
    link = y.find('a')['href']
    url_list.append(link)
    
print("Printing URLs LIST")
print(url_list)
print("")
print("----------------")
print("Printing 'hemisphere_image_urls' Dictionary")
print("")

hemisphere_image_urls = [
    {"title": "Valles Marineris Hemisphere", "img_url": "..."},
    {"title": "Cerberus Hemisphere", "img_url": "..."},
    {"title": "Schiaparelli Hemisphere", "img_url": "..."},
    {"title": "Syrtis Major Hemisphere", "img_url": "..."},
]

for x in url_list:
    url = url_base + x
        
    browser.visit(url)
    
    #Sleep script to ensure the page fully loads
    #time.sleep(5)
    
    soup = BeautifulSoup(browser.html, 'html.parser')
    
    # Grab image url
    result1 = soup.find('img', class_="wide-image")
    image = url_base + result1["src"]
    
    # Grab page title and remove "Enhanced" from string
    result2 = soup.find('h2', class_='title')
    title = result2.text
    title = title.rsplit(' ', 1)[0]
    
    mars_hemi = {"title": title, "img_url": image}
    hemisphere_image_urls.append(mars_hemi)
    
    #time.sleep(10)
    
print(hemisphere_image_urls)

Printing URLs LIST
['/search/map/Mars/Viking/cerberus_enhanced', '/search/map/Mars/Viking/schiaparelli_enhanced', '/search/map/Mars/Viking/syrtis_major_enhanced', '/search/map/Mars/Viking/valles_marineris_enhanced']

----------------
Printing 'hemisphere_image_urls' Dictionary

[{'title': 'Valles Marineris Hemisphere', 'img_url': '...'}, {'title': 'Cerberus Hemisphere', 'img_url': '...'}, {'title': 'Schiaparelli Hemisphere', 'img_url': '...'}, {'title': 'Syrtis Major Hemisphere', 'img_url': '...'}, {'title': 'Cerberus Hemisphere', 'img_url': 'https://astrogeology.usgs.gov/cache/images/f5e372a36edfa389625da6d0cc25d905_cerberus_enhanced.tif_full.jpg'}, {'title': 'Schiaparelli Hemisphere', 'img_url': 'https://astrogeology.usgs.gov/cache/images/3778f7b43bbbc89d6e3cfabb3613ba93_schiaparelli_enhanced.tif_full.jpg'}, {'title': 'Syrtis Major Hemisphere', 'img_url': 'https://astrogeology.usgs.gov/cache/images/555e6403a6ddd7ba16ddb0e471cadcf7_syrtis_major_enhanced.tif_full.jpg'}, {'title': 'Valles Marineris Hemisphere', 'img_url': 'https://astrogeology.usgs.gov/cache/images/b3c7c6c9138f57b4756be9b9c43e3a48_valles_marineris_enhanced.tif_full.jpg'}]